/* @import url("canvas.css"); */
/* @import url("section.css"); */

div,
body {
  --debug-border: 1px solid #333333;
  --font-size-main: 1em;
  --font-size-title: calc(var(--font-size-main));
  --font-size-navgrid-section: var(--font-size-main);
  --font-size-navgrid-thumbnail: calc(3 / 4 * var(--font-size-main));
  --main-bg-color: #111111;
  --main-border-color: #333333;
  --main-border-radius: 25px;
  --main-border-width: 2px;
  --main-border: var(--main-border-width) solid var(--main-border-color);
  --main-font-family: Arial, Verdana, Trebuchet MS, Helvetica, sans-serif; /* TODO choose font */
  --main-header-height: calc(
    2 * var(--font-size-main) + var(--main-border-width)
  );
  --main-margin: 10px;
  --main-section-color: #222222;
  --main-text-color: #bbbbbb;
  --main-x-pad: 1em; /* only for mobile screen sizes */
  --page_column_pad: 25px;
  /* TODO rename? -> atm only used for simulation */
  /* TODO why canvas-fitting not working when changing --page_column_pad ? */
  color: var(--main-text-color);
}
body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family);
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  width: 100%;
}
p {
  color: var(--main-text-color);
}

/* PAGE HEADER ====================================== */

.page_header {
  background-color: var(--main-bg-color);
  display: grid;
  font-family: var(--main-font-family);
  grid-template-columns: repeat(2, 1fr);
  padding-right: var(--page_column_pad);
  padding-left: var(--page_column_pad);
  padding-top: calc(var(--font-size-title) / 2);
  padding-bottom: calc(var(--font-size-title) / 2);
  position: fixed;
  top: 0;
  outline: var(--main-border);
  width: calc(100% - 2 * var(--page_column_pad));
  z-index: 1000;
  /* padding-top: calc(var(--page_column_pad) / 2); */
  /* padding-bottom: calc(var(--page_column_pad) / 2); */
  /* padding: auto; */
  /* padding-top: calc(var(--main-header-height) - var(--font-size-main)) / 2; */
  /* padding-bottom: calc(var(--main-header-height) - var(--font-size-main)); */
  /* height: var(--main-header-height); */
  /* padding-bottom: 100px; */
  /* text-align: right; */
}

.home-button-container {
  width: 100%;
  padding-left: calc(0 * var(--main-border-radius));
  text-align: left;
}
.home-button {
  color: var(--main-text-color);
  cursor: pointer;
  font-size: var(--font-size-title);
  font-weight: bold;
  outline: none;
  text-decoration: none;
}
.navbar_top_text {
  /* text-align: right; */
  /* margin: 0; */
}

/* PAGE CONTENT ====================================== */

.page_content {
  font-family: var(--main-font-family);
  margin-top: var(--main-header-height);
  --pad: var(var(--main-x-pad));
  padding-left: var(--pad);
  padding-right: var(--pad);
  /* width: 100%; */
  /* margin-top: calc(2 * var(--font-size-title)); */
  /* padding-bottom: 2em; */
}

/* VARIOUS =========================================== */

slider {
  outline: none;
}

.spacer {
  height: var(--main-x-pad);
}

p {
  color: var(--main-text-color);
}
