.section {
  background-color: var(--main-section-color);
  border-radius: var(--main-border-radius);
  border: var(--main-border);
  text-align: center;
  padding: var(--page_column_pad);
  width: calc(100% - 2 * var(--page_column_pad));
  /* box-shadow: inset 0px 0px 0px 0px black; */
  /* box-shadow: inset 10px 1px 1px 1px red; */
  /* box-sizing: border-box; */
}

.section_title {
  width: 100%;
  text-align: center;
  font-weight: 690;
  margin-bottom: 8px;
  height: 1em; /* needed for smooth reload  (semi, text "blinks") */
}
