<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>mader.xyz - 404</title>
    </head>
    <body style="background-color: #111111;">
        <h1>404: There's nothing here. :(</h1>
        The page at {{ uri }} does not exist!
    </body>
</html>
