<html>

    <head>
    {% block head %}            

        <title>mader.xyz{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <link rel="icon" href="/static/img/favicon.ico" type="image/png"/>
        <link rel="stylesheet" href="/static/css/base.css" type="text/css">
        <link rel="stylesheet" href="/static/css/canvas.css" type="text/css">
        <link rel="stylesheet" href="/static/css/section.css" type="text/css">

    {% endblock head %}            
    </head>

    <body style="background-color: #111111">
    {% block body %}

        <div class="page_header">
        {% block page_header %}
            <div class="home-button-container">
                <a href="/" class="home-button">mader.xyz</a>
            </div>
        {% endblock page_header %}            
        </div>

        <div class="page_content">
        {% block page_content %}
        {% endblock page_content %}
        </div>

    {% endblock body %}
    </body>

</html>
