.navgrid_thumbnail {
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  box-shadow: inset 0px 0px 0px 0px black;
  box-sizing: border-box;
  cursor: pointer;

  /* make square (with :after) */
  width: calc(var(--thumbnail_initial_width) * 100%);
  /* center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%; /* left & right done autom. through align */
  margin-bottom: 7%; /* TODO use page_column_pad */
  /* margin-top: calc(2 * var(--page_column_pad)); */
  /* margin-bottom: var(--page_column_pad); */

  outline: none;

  /* transition (with :hover) */
  transition: border 0.5s, filter 0.5s, transform 0.5s ease-in-out; /* TODO find out: why not working on un-hover? */
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
}
.navgrid_thumbnail.inactive {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
}

.navgrid_thumbnail.active:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.navgrid_thumbnail.active:hover {
  border: var(--main-border-width) solid #555555;
  transform: scale(
    calc(var(--thumbnail_max_width) / var(--thumbnail_initial_width))
  );
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
@media only screen and (max-width: 551px) {
  .navgrid_thumbnail.inactive,
  /* { */
    /* transition: border 2.5s, filter 2.5s, transform 2.5s ease-in-out; */
    /* filter: grayscale(100%); */
  /* } */
  .navgrid_thumbnail.active {
    /* transition: border 2.5s, filter 2.5s, transform 2.5s ease-in-out; */
    filter: grayscale(0%);
  }
}
