.navgrid_section_title {
  width: 100%;
  text-align: center;
  color: var(--main-text-color);
  font-weight: bold;
  /* border: var(--debug-border); */
  padding-top: 1em;
  /* text-decoration: underline; */
  /* padding-bottom: 0.5em; */
  /* outline: 1px solid red; */
  /* text-decoration: underline; */
  font-size: var(--font-size-navgrid-section);
  /* font-weight: 690; */
}

.navgrid_section {
  width: 100%;
  /* margin-bottom: 1em; */
  /* border: 1px solid #333333; */
  /* border-radius: 20px; /1* if changed: also change for #canvas/#section? *1/ */
}
