.navgrid_cell {
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  text-align: center;
  /* cursor: default; */
  border: none;
  outline: none;
  /* outline: 1px solid green; */
}

.navgrid_cell_title {
  text-align: center;
  font-size: var(--font-size-navgrid-thumbnail);
  cursor: pointer;
  text-decoration: none;
  color: var(--main-text-color);
  /* transition: all 500ms; */
  /* outline: 1px solid red; */
}
.navgrid_cell_title:hover {
  /* border: 2px solid #555555; */
  /* transform: scale(calc(1.2)); */
  /* font-size: 30; */
}
