#page_content {
  position: absolute;
  padding: 0px;
  width: 100%;
  margin-top: 0;
}

/* PAGE-COLUMNS ON SMALL SCREEN */
#page-columns {
}
#page-column-left {
  margin-top: var(--main-header-height);
  text-align: center;
}
#page-column-right {
  text-align: center;
}

#page-column-left canvas {
  --width: calc(100% - 2 * var(--page_column_pad));
  width: var(--width);
  margin: var(--page_column_pad);
  margin-bottom: 0;
}
#page-column-right .section {
  width: calc(100% - 2 * var(--page_column_pad));
  margin: var(--page_column_pad);
}

/* PAGE-COLUMNS ON BIG SCREEN */
@media only screen and (min-width: 1201px) {
  #page-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #page-column-left canvas {
    --width: calc(100% - 1.5 * var(--page_column_pad));
    width: var(--width);
    margin-right: calc(var(--page_column_pad) / 2);
  }
  #page-column-right {
    margin-top: var(--main-header-height);
    height: calc(100vh - var(--main-header-height));
    overflow: scroll;
  }
  #page-column-right .section {
    --width: calc(100% - 1.5 * var(--page_column_pad));
    width: var(--width);
    margin-top: var(--page_column_pad);
    margin-left: calc(var(--page_column_pad) / 2);
  }
}

/* SIMULATION TITLE */
.simulation-title {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-title);
  height: var(--font-size-title);
  line-height: var(--font-size-title);
  padding-top: var(--page_column_pad);
  padding-bottom: 0;
}

#spacer {
  height: calc(var(--font-size-title) + var(--page_column_pad));
}
