<html>
    <!-- HEAD -->
    <head>
        {% block head %}            

        <title>mader.xyz{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <link rel="icon" href="/static/img/favicon.ico" type="image/png"/>
        <link rel="stylesheet" href="/static/css/base.css" type="text/css">

        {% endblock head %}            
    </head>
    <!-- BODY -->
    <body style="background-color: #111111">
        {% block body %}

        <!-- HEADER / NAVBAR -->
        <div id="page_header">
            {% block page_header %}
            <span id="page_title_container">
                {% block page_title %}
                {% endblock page_title %}
            </span>
            <span id="home_button_container">
                <a href="/" id="home_button">mader.xyz</a>
            </span>
            {% endblock page_header %}            
        </div>

        <!-- CONTENT -->
        <div id="page_content">
            {% block page_content %}
            {% endblock page_content %}
        </div>

        {% endblock body %}
    </body>
</html>
