<html>
    <!-- HEAD -->
    <head>
        {% block head %}            

        <title>mader.xyz{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <link rel="icon" href="/static/img/favicon.ico" type="image/png"/>
        <link rel="stylesheet" href="/static/css/base.css" type="text/css">

        {% endblock head %}            
    </head>
    <!-- BODY -->
    <body style="background-color: #111111">

        <!-- HEADER / NAVBAR -->
        <div id="page_header">
            {% block header %}
            <a href="/" id="home">mader.xyz</a>
            {% endblock header %}            
        </div>

        <!-- CONTENT -->
        <div id="page_content">
            {% block content %}
            {% endblock content %}
        </div>

    </body>
</html>
