@import url("canvas.css");
@import url("section.css");

body {
  --main-bg-color: #111111;
  --main-section-color: #222222;
  --main-border-color: #555555;
  --main-text-color: #bbbbbb;
  --main-font-family: Arial, Verdana, Trebuchet MS, Helvetica, sans-serif; /* TODO choose font */
  --main-border: 2px solid var(--main-border-color);
  --main-border-radius: 25px;
  --debug-border: 1px solid #333333;
  --main-margin: 10px;
  --main-x-pad: 1em; /* only for mobile screen sizes */
  --font-size-main: 1em;
  --font-size-title: calc(1.2 * var(--font-size-main));
  --font-size-navgrid-section: var(--font-size-main);
  --font-size-navgrid-thumbnail: var(--font-size-main);
  --main-header-height: 2em;

  --page_column_pad: 3%; /* TODO rename? -> atm only used for simulation */

  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: var(--main-font-family);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  overflow-x: hidden;
}

/* PAGE HEADER ====================================== */

#page_header {
  width: 100%;
  text-align: right;
  background-color: var(--main-bg-color);
  border-bottom: var(--main-border);
  position: fixed;
  height: var(--main-header-height);
  z-index: 1000;
}

#home {
  --pad: var(--page_column_pad);
  padding-left: var(--pad);
  padding-right: var(--pad);
  cursor: pointer;
  color: var(--main-text-color);
  font-size: var(--font-size-title);
  font-weight: bold;
  text-decoration: none;
  outline: none;
}
@media only screen and (min-width: 1201px) {
  #home {
    --pad: calc(var(--page_column_pad) / 2);
    padding-left: var(--pad);
    padding-right: var(--pad);
  }
}

/* PAGE CONTENT ====================================== */

#page_content {
  position: absolute;
  margin-top: 3em;
  padding-bottom: 1em;
  --width: 60%;
  width: var(--width);
  padding-left: calc((100% - var(--width)) / 2);
  padding-right: calc((100% - var(--width)) / 2);
}
@media only screen and (max-width: 1201px) {
  #page_content {
    --width: 65%;
    width: var(--width);
    padding-left: calc((100% - var(--width)) / 2);
    padding-right: calc((100% - var(--width)) / 2);
  }
}
@media only screen and (max-width: 751px) {
  #page_content {
    --width: calc(100% - 2 * var(--main-x-pad));
    width: var(--width);
    padding-left: var(--main-x-pad);
    padding-right: var(--main-x-pad);
  }
}

/* VARIOUS =========================================== */

slider {
  outline: none;
}

.spacer {
  height: var(--main-x-pad);
}
