.canvas_container {
  /* border: var(--main-border) */
  border-radius: var(--main-border-radius);
  /* width: 100%; */
  /* height: 100%; */
  /* width: 94%; */
  /* margin-top: 3%; */
  /* margin-bottom: 3%; */
  /* margin-left: 3%; */
  /* margin-right: 3%; */
}
canvas {
  outline: var(--main-border);
  background-color: black;
  border-radius: var(--main-border-radius);
  width: 100%;
  /* height: 100vh; */
  /* overflow: hidden; */
  /* box-shadow: inset 0px 0px 0px 0px black; */
  box-sizing: border-box;
}
