{% extends "base" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/index/base.css">
{% endblock head %}

{% block page_content %}
    {{ super() }}
    {% include "index/navgrid" %}
{% endblock page_content %}
