@import url("navgrid_section.css");
@import url("navgrid.css");
@import url("navgrid_cell.css");
@import url("navgrid_thumbnail.css");

@media only screen and (min-width: 751px) {
  #page_content {
    --width: 90%;
    width: var(--width);
    --pad: calc((100% - var(--width)) / 2);
    padding-left: var(--pad);
    padding-right: var(--pad);
  }
}
@media only screen and (min-width: 1201px) {
  #page_content {
    --width: 60%;
    width: var(--width);
    --pad: calc((100% - var(--width)) / 2);
    padding-left: var(--pad);
    padding-right: var(--pad);
  }
}
