.navgrid_section_title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  /* border: var(--debug-border); */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* text-decoration: underline; */
  font-size: var(--font-size-navgrid-section);
  /* font-weight: 690; */
}

#navgrid_section {
  width: 100%;
  margin-bottom: 1em;
  /* border: 1px solid #333333; */
  /* border-radius: 20px; /1* if changed: also change for #canvas/#section? *1/ */
}
