#page_content {
  position: absolute;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

/* SIMULATION TITLE */
/* ============================================================================= */
#simulation-title-container {
  padding-right: calc(var(--main-border-radius));
  text-align: right;
}
#simulation-title {
  text-align: center;
  color: var(--main-text-color);
  font-size: var(--font-size-title);
  font-weight: bold;
}

/* PAGE COLUMNS */
/* ============================================================================= */
#page-columns {
}
#page-column-left {
  margin-top: var(--main-header-height);
  width: calc(var(--canvas-width) - 2 * var(--page_column_pad));
  padding: var(--page_column_pad);
}
#page-column-left .canvas_container {
}
#page-column-left canvas {
  border: none;
  border-radius: var(--main-border-radius);
  box-shadow: 0 0 0 var(--main-border-width) var(--main-border-color);
  outline: none;
}
#page-column-right {
  padding-right: var(--page_column_pad);
  padding-left: var(--page_column_pad);
}
#page-column-right .section {
  margin-bottom: var(--page_column_pad);
  border: none;
  border-radius: var(--main-border-radius);
  box-shadow: 0 0 0 var(--main-border-width) var(--main-border-color);
  text-align: left;
}
#page-column-right .section p {
  margin: 0;
}
/* SMALL SCREEN */
/* ============================================================================= */
@media only screen and (max-width: 1200px) {
  #page-column-left {
  }
  #psage-column-right {
  }
  #page-column-right .section {
  }
}
/* BIG SCREEN */
/* ============================================================================= */
@media only screen and (min-width: 1201px) {
  #page-columns {
    --canvas-width: calc(100vh - var(--main-header-height));
  }
  #page-column-left {
    float: left;
    padding-right: calc(0.5 * var(--page_column_pad));
    /* background-color: red; */
  }
  #page-column-left .canvas_container {
  }
  #page-column-left canvas {
  }
  #page-column-right {
    /* background-color: green; */
    overflow: scroll;
    float: right;
    width: calc(100% - var(--canvas-width) - 1 * var(--page_column_pad));
    height: calc(100vh - var(--main-header-height));
    margin-top: var(--main-header-height);
    padding-left: calc(0.5 * var(--page_column_pad));
    padding-right: var(--page_column_pad);
  }
  #page-column-right .section {
    margin-top: var(--page_column_pad);
  }
}

/* VARIOUS */
#spacer {
  height: calc(var(--font-size-title) + var(--page_column_pad));
}
